body {
    display: flex;
    align-items: center;
    justify-content: center;
}

div{
    border: 1px solid black;
    width: 200px;
    height: 200px;

    margin: 20px 10px 20px 10px;

   
}

@media (orientation: landscape) {
    
    body {
        flex-direction: row;
        
    }

}

@media(orientation: portrait) {

    body {
        flex-direction: column;
    
    }
    
}
