body {
    background-color: black;
}

@media (max-width: 650px) {
    body{
        background-color: blueviolet;
    }
}

@media (max-width:500px) {
    body{
        background-color: azure;
    }
}